body {
    font-family: Arial, sans-serif;
}
/*as bordas serão apagadas*/

div#pai {
    border: 2px solid, black;
    width: 500px;
    padding-left: 5px;
    display: flex;
}
h1.facebook { 
    color: rgb(58, 58, 250);
    font-size: 30pt;
    border: 2px solid black;
    
}
p.msg {
    font-size: 20px;
    margin-top: 0px;
    width: 365px;
    justify-content: center;
    border: 2px solid black;
}